
/* safe_index*/

.margin1{ position:relative; left:100px; width:695px; overflow:hidden;}
.safeli{ text-indent:0px; color:#ff9600;}
.djzh{ color:#2ea7e0;}
.mt{ margin-top:30px;}
.mt .look1{ background-color:#2ea7e0;}
.btn2:hover{ background-color:#46bff8;}
.pt h3{ padding-top:10px;}


/* safe_zhjymm*/
.name1{ width:166px; height:150px;  }
/* safe_zhjymm1*/
.margin1 .div1{ color:#2ea7e0;}

