body{background: #fff!important;}
.tdb i,.tdb span,.egou li{background:url("../images/i.gif") no-repeat 0 0;}
.tz .act{ background:url("../images/tzzq.gif") center bottom no-repeat;}
.tzok_tu i,.tip a i{background:url("../images/tz_detail.gif") no-repeat 0 0;}
.svg_tu{background:url("../images/5bian.gif") 48px 30px no-repeat;}
em,i{font-style:normal;}
.twop{background: #f8f8f8;padding-top:30px;}
/***.tzzq{height:20px; line-height:60px; background-color:#2ea7e0;}****/
.tzzq{height:20px;background-color:#2ea7e0;}
.tz{ height:60px; clear:both; overflow:hidden;}
.tz li{ float:left; line-height:60px; font-size:16px; padding:0 20px; cursor:pointer;}
.tzzq a,.tzzq a:hover,.tzzq a:visited{ color:#fff;}
.tips{display:block;zoom:1;margin-top:6px;}
.tips:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
html[xmlns] .tips{display:inline-block;}
.tips i{background-position:-168px -327px;font-size:25px;padding-left:14px;height:30px;margin-left:5px;float:left;}
.tips .xin_tu{background-position:-209px -327px}
.tips .he_tu{display:inline-block;height:15px;line-height:16px;border:1px solid #999;padding:0 5px;color:#999;font-size:12px;background-image:none;position:relative;overflow:hidden;margin-top:3px;}
/***.tips .rang_tu{background-position:-256px -324px;padding-left:49px;}***/
.onep{background:#f8f8f8;font-size:14px;}
.onep .con24{width:996px;background:#fff;}
.onep .left{float:left;margin-left:40px;padding-top:16px;width:590px;display:inline;}
.xiangmu{position:relative;}
.xiangmu h3{font-size:20px;margin:13px 0 0px; display: flex;font-weight: normal;color:#333;}
.xiangmu h4{font-weight:normal;font-size:16px;color: #999;}
.onep .right{position: relative; float:right;width:315px;height:320px;padding:25px 0 0 30px;display:inline;background:#f2fbff;margin:10px;}
.shuju{margin-bottom:15px;height:116px;padding-top:20px;font-size:14px;position:relative;overflow:hidden;}
.shuju li{padding-left:70px;text-align:center;font-size: 22px; color: #666666;}
.thousand_char{font-size: 26px!important;}
.shuju li:first-child{padding-left:0;color:#f60;font-size: 24px;}
.shuju p,.xy_tu p{color:#999;font-size: 14px;}
.shuju i,.shuju em,.shuju span,.xy_tu span{font-size:40px;line-height:60px; display:inline-block;}
.shuju i{color:#f60;}.shuju em{color:#2ea7e0;}
.shuju span{color:#666666;font-size: 40px;}
.bar{margin-left:72px;}
.bar,.bar i{position:relative;height:5px;line-height:18px;font-size:0;width:496px;background:#dcdcdc;border-radius:10px;}
.bar i{display:block;background:#2ea7e0;}
.bar em{position:absolute;top:-8px;left:-67px;width:80px;text-align:left;font-size:14px;}
.chart{top:101px;right:-15px;overflow:hidden;width:246px;height:180px;font-size:14px;text-align:center;}
.xy_tu{padding-top:50px;display:block;background:#fff;height:250px;}
/***.svg_tu{position:absolute;top:-600px;left:10px;width:200px;height:200px;background:#fff}**/
.svg_tu{margin-left:10px;width:200px;height:200px;background-color:#fff}
.vis.svg_tu{top:0;}
.xshuju .tzs1{line-height:45px;padding-top:20px;}
.xshuju .qxr dd { float: left}
.xshuju .qxr dd .thousand_char {font-size: inherit !important;}
.tzs1 .th2{clear:left;width:200px}
.xshuju dd{padding-right:40px;}
.xshuju{font-size:14px;color:#666}
.xshuju span.color_blue{color:#2ea7e0;font-size:24px;position: absolute;}
.tz_info p{position:relative;margin-bottom:8px;color:#666666;}
.money_span{font-size:16px;}
.tz_info .blue{font-size:18px;padding:0 3px}
#all_m{font-size:18px;}
#my_log{height:40px;}
#my_log .btn{display:inline-block;width:40px;height:20px;margin:0 5px;line-height:20px;background: none;color: #2ea7e0;font-size: 16px;}
#my_log .btnc{position:absolute;top:3px;right:77px;background:#F60;color: #fff;font-size: 14px;}
#my_log .btnc:hover{background:#feae3b;}
.tzjin{position:relative; padding-bottom: 5px;height:40px;padding-top:10px;}
.tzj1{position:relative;border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:150px;height:40px;padding-left:5px;line-height:40px;font-size:18px;float:left;background:#fff;}
.tzj1 em{position:absolute; right:10px;}
.but_on{width:40px; height:40px; border:solid 1px #7bc2e4;background:#daf4ff;float:left;font-size:34px;line-height:38px; text-align:center;color:#2ea7e0;}
.but_in{background:#dcdcdc;border:solid 1px #dcdcdc; color:#999 !important;cursor: default !important;}
.whole{color:#2ea7e0;line-height:40px; padding-left:10px;}
.yqsy p i{color:#F60;}
.tzj1_b{border-color:#2ea7e0;}
.tzjin #tz_shu,.tzjin #money{position:absolute;top:0px;left:0;border:1px solid #fff;width:110px;font-size:18px;color:#3f3a39;font-family:"Arial";height:36px;padding-left:10px;}
.tzjin #tz_shu:focus,.tzjin #money:focus{border-color:#fff!important;}
.tzjin .tip{line-height:34px;margin-top:22px;}
.tzjin .tip a{position:relative;display:inline-block;margin-right:10px;padding:0 8px;border:1px solid #ccc}
.tzjin .tip a:hover{color:#555}
.tzjin .tip .cur{border-color:#2ea7e0}
.tip a.cur i{position:absolute;top:0;left:0;background-position:0 -230px;display:block;width:20px;height:20px;}
.wrong{z-index:10px;position:absolute;top:45px;left:0;display:none;width:213px;height:30px;line-height:30px;padding-left:5px;background:#fff;color:#F00;border:1px solid #F00;}
.wrong.vis{display:block}
.tz_info .tool{margin-top:22px;}
.tz_info .tool .btn{width:240px;line-height:43px;height:43px;font-size:18px;}
.detail_con{width:994px;margin-bottom:46px;background:#fff;font-size:14px;}
.hd_bd{background:#f8f8f8;height:54px;line-height:54px;font-size:16px;}
.hd_bd a{display: block;float: left;padding: 0 5px;color:#999;padding:0 25px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background: #fcfcfc;}
.hd_bd .cur{background:#fff; color: #2ea7e0;border-color:#fff;    border-right: 1px solid #e6e6e6;}
.detail_con .bd{padding:10px 15px 10px}
.detail_con .tab_c{width:965px;}
.tb1{width:100%;line-height:43px;margin-bottom:8px;}
.tb1 thead{color:#999;background-color:#fff}
.tb1 td,.tb1 th{border-bottom:1px solid #e6e6e6}
.tb1 th{text-align:left;}
.tb2 .last td,.tb2 .last th{border-bottom:none}
.tb1 td{text-align:center;}
.tb1 .t6{text-align:right}
#arti_bd p{margin-bottom:5px;padding-left:24px;}
#arti_bd h5{padding-left:24px;}
#arti_bd h4,.det_c4 h4{font-size:16px;}
.detail_con .det_c4{padding-top:25px;padding-bottom:20px;min-height:300px}
.det_c4 p{margin-bottom:5px;}

/***zhaiqiuan****/
.zhaiquan .shuju li:first-child{padding-left:0;}
.zhaiquan .shuju li{padding-left:20px;font-size:22px;}
.zhaiquan .shuju span{font-size:26px;}
.zhaiquan .shuju{margin-bottom:0;height:105px;}
.zhaiquan .xshuju{padding-bottom: 15px;padding-top:10px;}
.zhaiquan .tzs2 dd{padding-right:30px;}
.tzs2 dd{padding:0;line-height:50px;padding-right:20px;}
.tz_info .blue.inst{padding-top:10px;font-size:16px;}
.tzs2 .th{}
.tzs2 .dd2{}
.tzs2 .dd4{}
.tzs2 .dd3{}
.tzs2 .th2{}
.xshuju .orange{color:#f60;}
.xshuju .blue{color:#2ea7e0;}
.onep .zq_info{color:#999;height:220px;}
.zq_info p{margin-bottom:0px;}
.zq_info p span{padding-left:3px;font-size:14px;color:#888;}
.onep .zq_info{color:#999;padding-bottom: 17px;height:260px;}  /*padding-top:80px;*/
.zq_info p{}
.zq_info p span{padding-left:3px;font-size:16px;color:#666;}
.zq_info p span.orange{color:#f60;}
/****start:tz_ok****/
.tz_ok,.zq_ok{position:relative;}
.tz_ok .blue,.tz_ok .orange{color:#999}
.tz_ok #my_log .btnc,.tz_ok .tool .btn{background:#c9c9c9}
.tz_ok .tzj1_b{border-color:#ccc;}
.tz_ok #my_log .btnc:hover{cursor:default}
.down_zl{position:relative;margin-top:80px;}
.tab_t1 a,.tab_t2 a{display:block;font-size:14px;line-height:35px;color:#2ea7e0;}
.down_zl .list{display:none;position:absolute;bottom:56px;left:-18px;width:256px;padding:6px 0;border:1px solid #2ea7e0;background:#e3f6ff}
.tzok_tu{position:absolute;top:80px;left:10px;display:block;width:230px;height:150px;padding:30px 0 0 20px;}
.tzok_tu i{display:block;width:206px;height:100px;}
.tb3{width:100%;text-align:center;font-size:12px;}
.tb3 thead{background:#e3f6ff;color:#999}
.tb3 th{font-weight:normal;}
.tab_c1 .t3 a{color:#2ea7e0;}
.tab_c1 .t3 a:hover{text-decoration:underline;}
/****start:zq_ok****/
.zq_ok #my_log .btnc,.zq_ok .tool .btn{background:#c9c9c9}
.zq_ok.zq_info p span{color:#999}
.zq_ok .down_zl{margin-top:32px;}
.zq_ok .tab_t1 a {font-size:16px;}
.zq_ok .down_zl .list{bottom:113px}
.zq_ok .tzok_tu i{background-position:0 -103px}
/***jk_tc***/
.jk_tc .bd{position:fixed;top:130px;left: 50%;width:620px;height:550px;margin-left:-310px;top:10%;font-size:14px;z-index:100000;_position:absolute;_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight);background-color:#fff;}
.iframe_bd{padding:5px 10px;}
.iframe_bd .tb1 thead,.iframe_bd thead td{background-color:#f0f0f0;line-height:39px;color:#666;font-weight:normal;}
.iframe_bd .tb1 th{text-align:center;font-weight:normal;}
.iframe_bd .tb1{line-height:34px;}
.iframe_bd .page{margin-top:8px;}

#liubiao_tu{background-position:0 -268px}/***项目已流标**/
#no_tongguo_tu{background-position:0 -382px}/***审核未通过**/
#chehui_tu{background-position:0 -496px}/***已撤回*/
#weiyue_tu{background-position:0 -610px}/***已违约**/
#zhuanrang_tu{background-position:0 -730px}/**转让申请中**/
#shourang_tu{background-position:0 -850px}/***受让申请中**/
#touman_tu{background-position:0 -970px}/***已投满***/


/*新增样式*/
.shuju span.orange{color:#f60;}
/*zq_detail新增样式*/
.borrowers_tit{ position: relative; width: 100%; line-height: 40px; padding-left: 0px !important; border-bottom: 1px dashed #C5C5C5; text-align: left; font-size: 16px; font-weight: bold;}
.borrowers{ position: relative; list-style: none; width: 965px; min-height: 114px; margin-top: 10px; margin-bottom: 10px; }
.borrowers>dt{ display: block; float: left; width: 50%; height: auto; padding: 12px 0;}
.borrowers>dt>p{ display: block; width: 100%; line-height: 30px; margin-bottom: 0px !important; text-align: left; text-indent: 5px; color: #3f3a39;}
.t6{ position: relative;}
.t6>i{ position: absolute; top: 50%; right: 52px; width: 16px; height: 16px; margin-top: -9px; background: url(../images/pass.png) no-repeat center center; background-size: 16px 16px; vertical-align: middle;}
/*tz-detail资质文件样式*/
.aptitude{ position: relative; width: auto; max-width: 941px; height: auto; margin: 20px 0 20px 22px; border: 1px solid #C5C5C5;}
.aptitude>i{ position: absolute; top: 0; left: 0; display: inline-block; width: 50px; height: 121px; padding-top: 30px; border-right: 1px dashed #C5C5C5; text-align: center; font-size: 16px; font-weight: bold;}
.swiperDiv{ position: relative; display: inline-block; max-width: 885px; height: auto; margin: 15px 0 15px 65px;}
.swiperBox{ width: 100%; height: auto; overflow: hidden;}
.swiperBox>ul{ list-style: none; width: auto; height: 122px; overflow: hidden;}
.swiperBox>ul>li{ position: relative; display: block; float: left; width: 154px; height: 120px; border: 1px solid #C5C5C5; margin-right: 30px;}
.swiperBox>ul>li:nth-child(1){ margin-left: 10px;}
.swiperBox>ul>li>a{ float: left; display: inline-block; width: 100%; height: 120px;}
.swiperBox>ul>li>a>img{ display: block; width: 100%; height: 100%;}


/*弹框样式*/
.shadow{position: fixed;top: 0;left: 0; width: 100%;height: 100%; background-color: rgba(0,0,0,0.5);z-index:10;}
.othermain{width:425px; height:200px; background:#fff; position:fixed;z-index:11;margin-left:-212px; margin-top:-100px; left:50%;top:50%;}
.close{width:30px; height:30px;float: right;text-align: center; line-height: 30px; font-size: 22px;cursor:pointer;color:#999;}
.close:hover{background:#2ea7e0;color:#fff;}
.promptbox p{position:inherit;text-align: center;width:425px;margin-top: 45px;font-size:18px;line-height: 28px;color:#2ea7e0;}
.promptbox input{width:240px; height:43px; background:#2ea7e0; border:none;font-size:18px;color:#fff; position: absolute;left: 50%; margin-left: -120px; bottom: 27px; font-family: "微软雅黑";}
.promptbox input:hover{background: #46bff8;cursor: pointer;}
/*投资项目信息确认弹框*/
.confirm{width:900px;max-height: 365px; background:#fff;position:fixed;z-index:11;left:50%; margin-left:-450px;top:50%; margin-top:-200px;text-align:left;padding-bottom:10px;}
.confirm h1{font-weight:normal;font-size:20px;border-bottom:solid 1px #dcdcdc; color:#666;line-height:80px;padding-left:30px;margin:0;}
.conifrm_list p label{font-weight:normal;}
.conifrm_list p{width:290px;line-height:60px;float:left;font-size:16px;}
.conifrm_list{padding-left:30px;border-bottom:dotted 1px #dcdcdc;height:60px;}
.conifrm_list p label em{color:#f60;font-size: 18px;}
.conifrm_list p label em.blue{color:#62bde8;}
.conifrm_list_mima{padding-left:30px; padding-top:30px;position:relative}
.conifrm_list_mima p{line-height:44px;float:left;}
.conifrm_list_mima input[type="password"]{width:150px; height:40px;border:solid 1px #dcdcdc;padding-left:10px; position:relative;font-size: 16px;}
.but_sure{width:180px; height:40px; margin-left:15px; float:left;}
.but_sure a{width:180px; height:44px; background:#2ea7e0;display:block;color:#fff;text-align:center;line-height:40px;font-size: 18px;}
.but_sure a:hover{background:#62bde8;}
.worry_b{width:160px;float:left;}
.icon_apn{float:left;}
.icon_text{position:absolute; top:3px;left:249px;height:50px;}
.icon_text a{color:#62bde8;}
.ab{position:fixed;top:0px;}
#fixed{width:100%; z-index:9;}
/*红包*/
.redbag_box{width:900px;max-height:480px;background:#fff; position:fixed;top:50%; left:50%;z-index:11;margin-left:-450px; margin-top:-130px;}
.red_bg{width:358px; height:130px;background: url(../images/redbag_bg.png) no-repeat;margin-left:55px;
    box-shadow: 3px 1px 6px #e6e6e6, 2px 1px 3px rgba(177, 177, 177, 0.2);position:relative;}
.red_bg:hover{background:url(../images/redbag_active_hover.png) no-repeat;height:132px; }
.redbg_list{margin-top:20px;max-height: 410px; overflow: auto;margin-bottom:40px; }
.redbg_list label{font-weight: normal;height:132px;margin-top:30px;float:left;}
.redbg_left{width:130px; float:left;}
.redbg_left h1{font-size:16px; font-weight:normal;color:#2ea7e0;padding: 23px 20px 10px 20px;margin:0;}
.redbg_left h1 i{font-size:36px;}
.redbg_left h2{font-size:12px; font-weight:normal;color:#2ea7e0;padding-left:20px;line-height:20px;}
.redbg_left h2 i{display:block;font-size:14px; }
.redbg_right{width:226px; float:left;}
.redbg_right em{font-size:12px; color:#666;padding-left:20px;padding-top:20px;line-height:30px;display:block;}
.redbg_right p{color:#444; padding-left:20px;padding-top:7px; font-weight: normal;}
.red_bg.on{background:url(../images/redbag_active.png) no-repeat;width:358px; height:132px;}
/*新手*/
.con24{position:relative;}
.fir_investment{ position: absolute; width: 55px; height: 55px; background: url(../images/new_user2.png) no-repeat;left: 0;top: 0; background-size: 100%;}
.fir_trasfer{ position: absolute; width: 55px; height: 55px; background: url(../images/transfer.png) no-repeat;left: 0;top: 0; background-size: 100%;}
/**/
.icon_apn img{width:20px; height:20px;margin-left:15px; margin-top:10px;}
.yqsy p{}

.othermain2{width:425px; height:200px; background:#fff; position:fixed;z-index:11;margin-left:-212px; margin-top:-100px; left:50%;top:50%;}
.othermain2 p{position:inherit;text-align: center;width:425px;margin-top: 45px;font-size:18px;line-height: 28px;color:#2ea7e0;}
.othermain2 input{width:150px; height:50px; background:#2ea7e0; border:none;font-size:20px;color:#fff;position: absolute; bottom: 100px;left:53%;}
.othermain2 input.first-btn{left:25%;}
.othermain2 a{width: 120px; height: 40px; background: #2ea7e0;  border: none; font-size: 18px; color: #fff; position: absolute; bottom: 30px; left: 17%; line-height: 40px;text-align: center;}
.tz_info dd span{color:#B6B9BC!important;}
.tz_info .cheng a{background:none!important;color:#FC8448!important;}
.tz_info dl{height:26px!important;}
.agreement_inp{position:relative; float:left; width:366px; line-height: 21px; margin-left:20px; font-size:12px;}
.money_02{color:#666!important;}
.agreement_inp{color:#b8b8b8;}
.agreement_inp .agreement input{position:relative;}
.agreement_inp{color:#b8b8b8;}
.agreement_inp > a {
    margin-left: -3px;
    margin-right: -4px;
}
.btn-disabled {
    background-color: #ddd !important;
    cursor: default !important;
}
#errorPass {
    margin-left: 112px;
    font-size: 12px;
    color:#F60;
}
.whole_but_in{
    color:#999 !important;
    cursor: default !important;
}
/*投资详情页-充值按钮*/
#my_log .btncz{position:absolute;top:0;right:77px;border:1px solid #FF5500;background:transparent;color: #FF5500;font-size: 14px;}
#my_log .btncz:hover{color:#fff;background:#FF5500;}