* {
  padding: 0;
  margin: 0;
  border: 0;
}
header {
  position: relative;
  width: 100%;
  height: 60px;
}
header > div {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
header .hotline {
  position: relative;
  float: right;
  height: 60px;
  line-height: 60px;
  text-align: right;
  font-size: 14px;
  color: #777777;
}
header .hotline strong {
  font-weight: normal;
  font-size: 24px;
  color: #2EA7E0;
}
.content {
  position: relative;
  width: 100%;
  background-color: #F5F5F5;
}
.content > div {
  position: relative;
  width: 1000px;
  min-height: 554px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.content-left {
  position: absolute;
  top: 28px;
  left: 0;
  width: 500px;
  text-align: center;
}
.content-left > img {
  display: inline-block;
  width: 370px;
  margin-top: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}
.content-left .ercode {
  position: relative;
  padding-left: 20px;
}
.content-left .ercode img {
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-left: 10px;
}
.content-left .ercode p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
  text-align: left;
  vertical-align: super;
  font-size: 14px;
  color: #444444;
}
.register-form {
  float: right;
  position: relative;
  width: 400px;
  padding: 20px 15px;
  box-shadow: 0 0 0 0.4 #ccc;
  background-color: #fff;
}
.register-form h3 {
  width: 100%;
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  color: #2EA7E0;
}
.for-login {
  position: absolute;
  top: 30px;
  right: 28px;
  font-size: 14px;
  color: #777777;
}
.for-login a {
  color: #2EA7E0;
}
.reg {
  position: relative;
  height: 46px;
  margin: 27px 14px;
  border: 1px solid #979797;
}
.reg-focus {
  border-color: #2EA7E0 !important;
}
.reg i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
}
.reg input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  padding-left: 46px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;
}
.reg .tip {
  position: absolute;
  left: 46px;
  bottom: -24px;
  width: 100%;
  line-height: 20px;
  text-align: left;
  font-size: 12px;
  color: #E94639;
}
.reg .tip2 {
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 100%;
}
.reg .tip2 span {
  float: left;
  display: inline-block;
  width: 121px;
  height: 4px;
}
.reg .tip2 span:nth-child(2) {
  margin: 0 3px;
}
.ruo .color1, .zhong .color1, .qiang .color1 {
  background-color: #FF5500;
}
.zhong .color2, .qiang .color2 {
  background-color: #FF8F00;
}
.qiang .color3 {
  background-color: #2EA7E0;
}
.reg.password .eye {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 30px;
  background: url(../images/eye-hide.png) no-repeat center 12px;
  background-size: 100% auto;
  cursor: pointer;
}
.reg.imgCode {
  display: none;
  width: 240px;
}
.reg.imgCode i {
  background-image: url(../images/codeicon.png);
}
.reg.imgCode .imgCodePic {
  position: absolute;
  top: 0;
  right: -132px;
  width: 122px;
  height: 46px;
}
.reg.smscode {
  width: 240px;
}
.sms-code {
  position: absolute;
  top: 0;
  right: -132px;
  width: 122px;
  height: 46px;
  font-size: 16px;
  color: #fff;
  background-color: #2EA7E0;
  outline: none;
}
.sms-code:hover {
  background-color: #46bff8;
  cursor: pointer;
}
.sms-code-disabled {
  color: #fff !important;
  background-color: #cfcfcf !important;
}
.reg.phone i {
  background-image: url(../images/phone.png);
}
.reg.password i {
  background-image: url(../images/password.png);
}
.reg.smscode i {
  background-image: url(../images/smscode.png);
}
.reg.friend {
  display: none;
  margin-top: 10px;
  margin-bottom: 0;
}
.reg.friend i {
  background-image: url(../images/friend.png);
}
.friend-box {
  position: relative;
  text-align: left;
  color: #666666;
}
.friend-box>span {
  position: relative;
  display: inline-block;
  line-height: 24px;
  padding-left: 24px;
  margin-left: 14px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.friend-box span i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 24px;
  background: url(../images/arrow-bottom.png) no-repeat center center;
  background-size: auto 8px;
}
.i-icon2 {
  background-image: url(../images/arrow-top.png) !important;
}
.protocol {
  position: relative;
  display: block;
  margin: 27px 14px 0;
  text-align: left;
}
.protocol input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.protocol span {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}
.err-info {
  display: block;
  margin: 10px 14px 0;
  text-align: left;
  font-size: 12px;
  color: #E94639;
}
.reg-btn {
  position: relative;
  display: block;
  width: 372px;
  height: 46px;
  margin: 27px 14px 13px;
  font-size: 20px;
  color: #fff;
  background-color: #2EA7E0;
  outline: none;
}
.reg-btn:hover {
  background-color: #46bff8;
  cursor: pointer;
}
.reg-btn-disabled {
  color: #a0a0a0 !important;
  background-color: #f4f4f4 !important;
}
footer {
  position: relative;
  width: 100%;
  line-height: 30px;
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  color: #3f3a39;
}
footer a {
  text-decoration: none;
  color: #3f3a39;
}
.redColor {
  color: #E94639;
}
