/******我的账户提现页********/
.tx_form{padding:50px 0 0 160px;}
.tx_form i{font-size:18px;}
.preNext{	background:url(../images/arrow.png) no-repeat top center #000;}
.formli .f_wrong,.formli .f_right,.formli .f_info,.othelog a,.tc_pay dd{ background:url("../images/icon.gif") 0 10px no-repeat;}
.pass2{background:url("../images/qiangruo.gif") 0 0 no-repeat;}
.pay a i,.pay a{background:url("../images/pay.gif") 0 0 no-repeat;}
.inp{display:block;width:275px;height:40px;border:1px solid #cfcfcf;position:relative;overflow:hidden}
.inp:hover,.inp:focus{border:1px solid #2ea7e0}
.inp input{position:absolute;top:8px;padding-left:8px;width:265px;border:1px solid #fff;font-size:18px;color:#3f3a39;top:/*\**/:4px\9;_top:7px;}
.inp input:focus{border-color:#fff!important;}
.inp:hover{border-color:#0CF}
em,i{font-style:normal;}
.conbd{padding: 25px 0;}
.conbd .con24{ position:relative;border-left:3px solid #2ea7e0; border-right:1px solid #e0e0e0; border-bottom:2px solid #b1b1b1;  width:996px; background-color:#fff;}
.conbd h2{background:#f0f0f0;font-size:18px;height:61px;line-height:61px;padding-left:15px;margin-bottom:40px;}
.conbd h2 .ab_r{font-size:16px;right:15px;}
.conbd h2 .ab_r i{padding:0 6px;}
.conbd .left{border-right:1px solid #eee;margin-right:340px;margin-bottom:30px;}
.formli li,.ul_editor li{overflow:visible;margin-left:98px;line-height:40px;margin-bottom:18px;font-size:14px;}
.formli li em,.ul_editor li em{position:absolute;top:0;left:-103px;color:#999}
.formli em i{color:#F00}
.formli li span{position:absolute;top:0;left:290px;width:300px;padding-left:28px;}
.formli li .f_info{background-position: 0 -35px;color:#2ea7e0}
.formli li .f_right{background-position: 0 -80px;}
.f_wrong{color:#e43737}
.tool .btn{width:277px;height:43px;line-height:41px;font-size:18px;}
.yzm .inp{width:180px;}
.yzm .inp input{width:160px}
.yzmtu{position:absolute;top:0;left:180px; line-height:21px; padding:0 15px;  width:64px; text-align:center; }
.yzmtu img{width:77px;height:34px; padding-top:5px;}
.formli .agree{height:25px;line-height:25px;}
.agree .ab_l{margin-left:200px;width:80px;text-align:right;color:#09F;}
.aside{top:100px;width:315px;padding-left:20px;font-size:14px;color:#999;}
.aside p{margin-bottom:10px;}
.othelog a{background-position:0 -137px;padding-left:24px;line-height:26px;padding-right:5px;}
.othelog .sinalog{background-position:0 -182px;}
.formli li.tool{padding-top:20px;}
/*zhmm2-3*/
.arwb{position: absolute; display: block;width:18px;height:18px;top:15px;right:7px;background-position:-162px -502px;}
.cha_sel{z-index:10;}
.sel .em_num{position:relative;padding-left:10px;height:40px;width:275px;}
.em_sea{position:relative;left:0; border:1px solid #cfcfcf;background:#fff; height:38px; display:block;width:265px; padding-left:10px;}
.em_sea:hover,.em_sea:focus{border:1px solid #2ea7e0}
.em_sea label{height:40px; width:275px; display:inline-block;font-size:18px;font-weight:normal;}
.em_pan{min-width:275px;position:absolute;top:38px;left:-1px;display:block;background:#fff;border:1px solid #2ea7e0;z-index:100;_width:275px;overflow:auto}
.h200{height:200px;}
.em_pan a{display:block;line-height:24px;padding-left:10px;}
.em_pan a:hover{background:#2ea7e0;color:#fff;}
.margin .name{color:#444; padding-left:10px;}
.yzmli .i_text{width:160px;}
.yzsj{padding:0;width:95px;left:182px}
.yzsj .btn{font-size:12px;width:96px;height:40px;display:block;border:1px solid #2ea7e0;margin-left:-1px;}
.yzsj button.btn{line-height:16px;padding-top:2px;height:42px;}
.yzsj p.btn{line-height:16px;padding-top:4px;height:36px}
.yzsj .btn.disabled{border-color:#cfcfcf}
#yzm a{ color:#fff;}
.margin .div1{ color:#2ea7e0;}

.money .inp input{width:225px}
.tx_form1 i.blue{margin-right:3px;}
.m_dw{position:absolute;top:0;left:240px;}
.tx_form1{padding-left:100px;}
.tx_form1 li em{left:-100px;}
.other{border:1px solid #ddd;padding:20px 0 0 40px;width:580px;margin-bottom:45px;}
.other 	.ul_v{padding:0}
.tool.clearfix .btn,.tool.clearfix  .btn2{ float:left; display:block; width:219px; height:42px; line-height:42px; font-size:18px; text-align:center;margin-right:30px;}

.tx_sm{background:#eaf6fc;padding:10px 0 10px 15px;width:630px;font-size:14px;}

.tc_pay dl{padding:10px 0 0 30px;line-height:30px;}
.tc_pay dd{padding-left:25px;}
.tc_pay dd.true{background-position: 0 -86px;}
.tc_pay dd.false{background-position: 0 4px;}

.tc_pay .bd{height:180px;top:230px;width:360px;margin-left:-180px;}
.tc_pay dt{text-align:center;font-size:14px;}


.ok_form{padding:50px 0 0 30px;position:relative;}
.ok_form .aside{top:50px;width:290px;height:180px;border-left:1px solid #ddd;}
.ok_form .formli li{margin-bottom:5px;color:#666}
.ok_form .tool{padding-left:100px;}
.ok_form .tool.clearfix .btn,.ok_form .tool.clearfix  .btn2{ float:left; display:block; width:219px; height:42px; line-height:42px; font-size:18px; text-align:center;margin-right:30px;}
.form01 i{font-size:18px;}
.w170 .inp{width:170px;}
.w170 .inp input{width:130px;}
.w170 .m_dw{left:140px;font-size:18px}
.formli .w170 span{left:177px;}
.form01 li{width:300px;height:50px;}
.form_all{overflow:hidden;position:relative;}
.form_all{/*height:1100px;*/padding:50px 0 0 10px;}
.form01 ul{width:900px;}
.hk_date .em_num{float:left;}
.hk_date .sel_md .em_sea{width:90px;}
.hk_date .sel_md .em_pan{min-width:100px;}
.hk_date .month,.hk_date .day{margin-left:10px}
.hk_date .em_sea{width:152px;}
.month .em_pan,.day .em_pan{min-width:162px;height:100px;overflow:auto;}

th, thead td{font-weight:normal}
.tb1{width:100%;line-height:43px;margin-bottom:8px;}
.tb1 thead{font-size:14px;background-color:#e3f0f6;height:40px;}
.tb1 td,.tb1 th{padding:0 10px}
.tb1 th{text-align:left;}
.tb1 td{text-align:center;}
.tb1 tbody th,.tb1 tbody td{line-height:18px;padding-top:8px;padding-bottom:8px;}
.dy_info{width:790px;background:#f8f8f8;padding:0 10px 20px;position:relative;z-index:6}
.dy_info h5{font-size:16px;line-height:78px;font-weight:normal}
.form02{width:790px;border:1px solid #ddd;margin:20px 20px 20px 0;position:relative;z-index:0}
.form02 ul{padding-top:40px}.em_num2{position:absolute;top:15px;left:105px}
.em_num2 .em_sea{padding-left:0;background:#90d3ed;border:none;line-height:40px;}
.em_num2 label{color:#fff;padding-left:50px;}
.em_num2 .arwb{background-position:-142px -502px}
.em_num2 .em_bd{position:absolute;top:38px;left:0;width:660px;background:#fff;border:1px solid #86CDFC;}
.em_num2 .tb1 thead{width:100%}
.tool3 a{display:inline-block;line-height:26px;padding:0 15px;}
.tool3 a.close{margin-left:15px;}
.em_num2 tbody th,.em_num2 tbody td{border-bottom:1px solid #ddd;}
.em_num2 tfoot{background:#fff;}
.form02 .tool{padding:0 0 20px 0 }
.inp.tex{width:665px;height:220px;}
.inp.tex textarea{font-size:17px;padding:10px;}
.form02 .tool.clearfix .btn{width:273px;}
.form01{position:relative;z-index:10}
.form01 .li4{z-index:20;}
.form01 .li5{z-index:19;}
.form01 .li6{z-index:18;}
.form01 .li7{z-index:17;}
.form01 .li8{z-index:16;}

.check_btn{display:block;height:40px;}
.t6 label.check_btn{width:auto;display:block;padding:0;padding-top:3px;height:auto;}
/****抵押物*****/
.diyaw .form01{background:#f8f8f8;padding-top:20px;}

.sch{position:relative;width:320px;height:40px;border:1px solid #cfcfcf;background:#fff;}
.sch .opa{background:#fff;width:320px;height:40px;display:block;opacity: 0.85;filter:alpha(opacity =85);}
.sch .i_text{position:absolute;top:9px;left:8px;width:276px;font-size:16px;background-color:#fff;border:1px solid #fff;}
.s_btn,.s_btn:visited,#searchButton,#searchButton:hover{position:absolute;top:10px;right:10px;width:30px;height:30px;background-color:#fff;background-position:-155px -437px;_right:2px;}
.s_btn:hover,.s_btn:focus{background-position:-155px -468px;background-color:rgba(0,0,0,0);}
.sch:hover,.sch:focus{border:1px solid #2ea7e0}

.diyaw{padding:30px 0 0 35px;width:760px;}
.dyw_btn{position:absolute;top:1px;left:340px;width:100px;}
.dy_info2{padding-bottom:100px;position:relative;}
.dy_info2 .tb1{border:1px solid #ddd;margin-top:20px;border-bottom:none}
.dy_info2 .tb1{margin-bottom:0}
.dy_info2 .tb1 thead{height:60px;background:#f0f0f0}
.dy_info2 .tb1 tbody th,.dy_info2 .tb1 tbody td{border-bottom:1px solid #ddd;height:34px;}
.diyaw .em_sea{width:220px;}
.diyaw .em_pan{min-width:230px}

#tu_fixed .bd{background-color:transparent}
.fixcom.bd{height:320px;background-color:transparent}
.fixcom .close{width:30px;top:0;right:0;background-position:-578px 4px;background-color:#2ea7e0}
.fixcom .close:hover{background-position:-578px -26px;}

.viewul{position:relative;width:320px;height:320px;overflow:hidden;}
.viewul ul{position:absolute;left:0;right:0;}
.viewul li{overflow:visible;width:320px;}
.viewul img{width:100%}
.preNext{display:block;width:2em;height:2em;padding:0.5em;font-size:1.5em;clear:both;position:absolute;bottom:50%;margin-bottom:-5%;cursor:pointer;opacity:0.35;filter:alpha(opacity =35);}
.preNext:hover{opacity:0.65;filter:alpha(opacity =65);}
.pre{left:0;}
.next{right:0;background-position: center -50px;}
/****分页****/
.thepage{ margin: 10px 0; height:67px;}
.page{float: right;margin:20px 31px 20px 0;color:#999;padding-bottom:2px;font-size:14px;}
.page .btn,.page a,.page .active,.page .page_box,.page .prev,.page .next{vertical-align:middle;display:inline-block;border:1px solid #2ea7e0;background:#f8f8f8;padding:0 8px;margin-right:8px;height:auto;line-height: 26px; color:#2ea7e0; text-align:center; font-size:14px;}
.page .active{background:#2ea7e0;color:#fff;}
.page .prev,.page .next{color:#2ea7e0;margin-right:15px;}
.page .next{margin:0 5px;}
.page .page_box{ width:28px; padding:0 5px;text-align:center;margin:-2px 3px 0;height: 24px;color:#999;vertical-align:middle; border:1px solid #9d9d9d;}
.page .page_box:focus{ border:1px solid #2ea7e0; color:#2ea7e0;}
.page .page_button{margin-left:15px;cursor: pointer;width:40px;padding:0;height:26px;overflow:hidden;color: #2ea7e0; border: 1px solid #2ea7e0;vertical-align:middle; background-color:#f8f8f8;font-size:14px; }
.page .prev:hover,.page .next:hover,.page .page_button:hover,.page .btn:hover{ background-color:#2ea7e0; color:#fff;}
.page .btn-disabled,.page .btn-disabled:hover{color:#ccc;border-color:#ddd;background-color:#f8f8f8;}
/**add_diyaw***/
.adddiyaw{padding:0 0 0 50px;}
.adddiyaw .form02{border:none;}
.adddiyaw .inp{width:440px;}
.adddiyaw .inp input{width:420px;}
.dyw_tex .inp{height:160px;}
.adddiyaw textarea{margin:5px 0 0 10px;height:150px;width:420px;font-size:17px;}
.adddiyaw .formli li span{left:450px}
.adddiyaw .formli .dyw_tex span{top:60px}
/**上传文件***/
.uploadder{overflow:hidden;}
.upfile .btn2{position:absolute;top:0;left:340px;width:100px;height:43px;font-size:17px;}
.fileupload{position:absolute;top:0;left:0;width:434px;height:40px;font-size:30px;cursor:pointer;opacity: 0;filter:alpha(opacity =0);}
.adddiyaw .upfile .inp{width:330px;}
/**diyaw_info***/
.infodiyaw li{padding-right:30px}
.dy_tu img{border:1px solid #ddd;width:310px;margin-top:10px;}
/**hk_form**/
.hk_01{background:#f8f8f8;margin:30px 30px 0 35px;font-size:14px;line-height:35px;padding-bottom:15px;}
.hk_01 h3{height:50px;font-size:18px;line-height:65px;padding-left:15px;font-weight:normal}
.hk_01 dl{padding-left:15px;}
.hk_01 dt{width:700px;}
.hk_01 dd{width:235px;}
.hk_01 i{color:#999;display:inline-block;width:100px;}
.hk_02 dd{width:330px;}
.hk_02 .btn{display:inline-block;line-height:23px;height:23px;padding:0 10px;margin-left:10px;background:#ff9600}
.hk_02 .btn:visited{background:#ff9600}
.hk_02 .last{width:700px;font-size:12px;color:#999}
.hk_form{margin:30px 30px 0 35px;}
.hk_form .btn{float:left;}
.hk_form i{font-size:17px;}
.hk_01 .bd{width:750px;position:relative;overflow:hidden}
.hk_01 .bd dl{width:900px;}
.hk_01 .bd dd{border-right:1px solid #ddd;margin-right:20px;}
/**textarea html编辑器**/
div.ke-container{border:none}
.ul_editor{height:255px;}
.ke-dialog-row input{border:1px solid #ddd;}
.form02 .ul_editor,.form02  .ul_editor_next{padding-top:0}
/**下拉**/
div.fancy-select {position: relative;width:230px;text-transform: uppercase;background: #fff;}
div.fancy-select.disabled {opacity: 0.5;}
div.fancy-select select:focus + div.trigger {border-color:#2ea7e0;}
div.fancy-select select:focus + div.trigger.open {box-shadow: none;}
div.fancy-select div.trigger {cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: relative;border: 1px solid #cfcfcf;height:38px;line-height:38px;font-size:17px;padding-left:10px;padding-right:25px;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}
div.fancy-select div.trigger.open {border: 1px solid #2ea7e0;}
div.fancy-select div.trigger.open:after {border-top-color: #2ea7e0;}
div.fancy-select div.options {list-style: none;margin: 0;margin-left:-1px;padding:0;position: absolute;top: 40px;left: 0;visibility: hidden;opacity: 0;z-index: 50;max-height: 150px;overflow: auto;background: #fff;border-radius: 2px;border-bottom: 1px solid #2ea7e0;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);min-width: 60px;width:100%;border-right: 1px solid #2ea7e0;
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}
div.fancy-select div.options.open {visibility: visible;top: 40px;opacity: 1;
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}
div.fancy-select div.options a {height:24px;line-height:24px;cursor: pointer;display:block;padding:0 10px;white-space: nowrap;border-left: 1px solid #2ea7e0;margin-left:1px;font-size:14px;word-wrap:normal!important;text-overflow: ellipsis;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}
div.fancy-select div.options a.selected {background: #ecf6fb;color: #2ea7e0;}
div.fancy-select div.options a.hover {color: #fff;background: #2ea7e0;}

/***并列****/
.hk_date .fancy-select{float:left}
.hk_date .select1{width:90px;}
.hk_date .select2,.hk_date .select3{width:152px;margin-left:10px;}
div.select_w{width:275px;}
