.conbd .con24{min-height:500px;}
.formli .f_wrong,.formli .f_right,.formli .f_info,.othelog a,.arwb,.margin .qq{ background:url("../images/icon.gif") 0 10px no-repeat;}
.pass2{background:url("../images/qiangruo.gif") 0 0 no-repeat;}
.inp{display:block;width:275px;height:40px;border:1px solid #cfcfcf;position:relative;overflow:hidden}
.inp input{position:absolute;top:8px;padding-left:8px;width:265px;border:1px solid #fff;font-size:18px;color:#3f3a39;top:/*\**/:4px\9;_top:7px;}
.inp input:focus{border-color:#fff!important;}
.inp:hover{border-color:#0CF}
em,i{font-style:normal;}
.conbd{padding: 25px 0;background: #F4F4F4}
.conbd .con24{ position:relative; width:996px; background-color:#fff;}
.conbd h2{font-size:18px;height:61px;line-height:61px;padding-left:15px;margin-bottom:40px;border-bottom: 2px solid #f8f8f8}
.conbd h2 .ab_r{font-size:16px;right:15px;}
.conbd h2 .ab_r i{padding:0 6px;}
.conbd .left{border-right:1px solid #eee;/*margin-right:310px;*/margin-bottom:30px;}
.formli li{overflow:visible;margin-left:100px;line-height:40px;margin-bottom:18px;font-size:14px; padding-left:0;}
.formli li em{position:absolute;top:0;left:-80px;color:#999}
.formli em i {color:#F00}
.formli li span{position:absolute;top:0;left:290px;width:300px;padding-left:28px;}
.formli li span.passstrength{display:none;}
.formli li .f_info{background-position: 0 -35px;color:#2ea7e0}
.formli li .f_right{background-position: 0 -80px;}
.f_wrong{color:#e43737}
.tool .btn{width:277px;height:43px;line-height:41px;font-size:18px;}
.yzm .inp{width:180px;}
.yzm .inp input{width:160px}
.yzmtu{position:absolute;top:0;left:180px; line-height:21px; padding:0 15px;  width:64px; text-align:center; }
.yzmtu img{width:77px;height:34px; padding-top:5px;}
.formli .agree{height:25px;line-height:25px;}
.agree .ab_l{margin-left:200px;width:80px;text-align:right;color:#09F;}
.aside{top:100px;width:285px;padding-left:20px;font-size:14px;color:#999;}
.aside p{margin-bottom:10px;}
.othelog a{display:inline-block;background-position:0 -133px;padding-left:24px;line-height:26px;padding-right:5px;}
.othelog .sinalog{background-position:0 -178px;}
.formli li.tool{padding-top:20px;}

.pass2{position:absolute;top:42px;left:0;width:277px;height:16px;display:none}
.qiang{background-position:0 -60px;display:block}
.zhong{background-position:0 -30px;display:block}
.ruo{display:block}
.formli li.tool{margin-left:0;padding-left:100px}
/*reg_sjyz*/
.sjyz .left{padding-left:80px;margin-right:280px}
.sjyz .aside{width:260px}
h4.info_panel{font-size:18px;padding-left:21px;margin-bottom:10px;}
.sjyz .tool{padding-top:15px;}
.sjyz .left a.blue{padding-left:30px;}
/*zhmm1*/
.tzzq{ height:20px; background-color:#2ea7e0;}
.formli li .f_yzm{ background:url("../images/yanzhengma.jpg")0 5px no-repeat; width:77px; height:34px; position:absolute; top:0; left:200px;}
#i_text{ width:178px;}
#inp{ width:180px;}
.margin{ position:relative; left:250px; width:695px; overflow:hidden;}
/*.margin p{ color:#fe9601; padding:80px 0 30px; font-size:14px;}*/
.null{ height:36px; background-color:#f8f8f8;}
.formli li .way {width: 275px;height: 40px;border: 1px solid #09F; line-height:40px; font-size:16px;}

/*zhmm2-3*/
.arwb{position: absolute; display: block;width:18px;height:18px;top:15px;right:7px;background-position:-1px -234px;}
.cha_sel{z-index:10;}
.sel .em_num{position:relative;padding-left:10px;height:40px;width:275px;}
.em_sea{position:relative;left:0; border:1px solid #2ea7e0;background:#fff; height:38px; display:block;width:265px; padding-left:10px;}
.em_sea label{  height:40px; width:275px; display:inline-block;font-size:18px;font-weight:normal;}
.em_pan{min-width:275px;position:absolute;top:38px;left:-1px;display:block;background:#fff;border:1px solid #2ea7e0;z-index:100;_width:275px;}
.em_pan a{display:block;line-height:24px;padding-left:10px; }
.em_pan a:hover{background:#2ea7e0;color:#fff;}
.margin .name{color:#444; padding-left:10px;}
.yzsj{padding:0;width:95px;left:182px}
.yzsj .btn{font-size:12px;width:96px;height:40px;display:block;border:1px solid #2ea7e0;margin-left:-1px;}
.yzsj button.btn{line-height:16px;padding-top:2px;height:42px;}
.yzsj p.btn{line-height:16px;padding-top:4px;height:36px}
.yzsj .btn.disabled{border-color:#cfcfcf}

.yzsj {
    left: 192px;
}
.yzsj button.btn {
    width: 86px;
}
.yzsj button.btn:disabled {
    border: 1px solid #CFCFCF;
}
#yzm a{ color:#fff;}
.margin .div1{ color:#2ea7e0;}

/*zhmm4*/
.wancheng{ padding:70px 0 190px 270px; height:114px;}
.wancheng1{ float:left; width:125px; height:114px; background:url(../images/result.jpg);}
.wancheng2{ float:left; padding:25px;}
.wancheng3{ float:left; padding:10px 25px;}
.wancheng2 p,.wancheng3 p{ font-size:18px; line-height:30px; color:#42393a;}
.wancheng2 span a,.wancheng3 span a{ color:#2ea7e0;}



/*reg_yz*/
.formli li i{ font-size:18px;}

.formli i a,.formli p a{ color:#2ea7e0; font-size:18px; }

.orange.tip{position:absolute;bottom:20px;left:0;width:100%;right:0;text-align:center;font-size:14px;line-height:60px;}

.formli li.tag{font-size:18px;}

/*qq*/
.intent20{ text-indent:20px; line-height:18px; font-size:18px; padding-bottom:15px; color:#ff9600;}
.margin .qq{ background-position: 0 -133px; padding-left:25px;}
.margin .qq-1{ font-size:14px; color:#3f3a39; }
.margin .qq-1 a{ font-size:14px; color:#2ea7e0; }

.li20{z-index:0;}.li19{z-index:1;}.li18{z-index:2;}.li17{z-index:3;}.li16{z-index:4;}.li15{z-index:5;}.li14{z-index:6;}.li13{z-index:7;}.li12{z-index:8;}.li11{z-index:9;}.li10{z-index:10;}.li9{z-index:11;}.li8{z-index:12;}.li7{z-index:13;}.li6{z-index:14;}.li5{z-index:15;}.li4{z-index:16;}.li3{z-index:17;}.li2{z-index:18;}.li1{z-index:19;}
/*语音*/
.voice{ padding-left:100px; font-size:12px; color:#999;}
.orgColor{ font-size:16px; color:#ff9600;}
.voice i{ font-style:normal; font-size:16px; color:#2EA7E0; cursor:pointer;}
.voice i:hover,.voice i:active{color:#1c87ca;}

.new_sp{ position: absolute; top: 0px; left: 287px; display: inline-block; text-decoration: underline; cursor: pointer;}
.new_sp2{ display: none; position: absolute; top: 0px; left: 287px; text-decoration: underline; cursor: pointer;}
.new_sp a,.new_sp2 a{ font-size: 14px !important; color:#ff9600 !important;}